{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center" style="background-image: url('/images/SmHome.jpg'); ">
  <div class="container" >
    <a href="/" class="lang-logo">
      <img src="/images/Logo.jpg">
    </a>
    <h1>SmartHome 2.0</h1>
    <p>Esta sera una pagina que funsionara como un dashboard de los estados de los diferentes sensores que se instalaran en la casa.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://previews.123rf.com/images/macrovector/macrovector1604/macrovector160403462/55220555-infograf%C3%ADa-de-las-casas-inteligentes-con-las-estad%C3%ADsticas-de-uso-ilustraci%C3%B3n-vectorial-tecnolog%C3%ADas-electr%C3%B3nicas.jpg"><span class="glyphicon glyphicon-flash"></span> Estadisticas</a>
    <a type="button" class="btn btn-lg btn-primary" href="pca.edu.co/wp/"><span class="glyphicon glyphicon-download"></span> Quienes somos!</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Siempre en contacto con tu hogar!
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Habitaciones</h3>
      <ul>
        <li>Habitacion # 1</li>
        <li>Habitacion # 2</li>
        <li>Habitacion # 3</li>
        <li>Habitacion # 4</li>
        <li>Habitacion # 5</li>
        <li>Habitacion # 6</li>
    
        
      </ul>
      <iframe width="460" height="315" src="https://www.youtube.com/watch?v=ABrjdyavqkI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Living Room</h3>
      <ul>
        <li>1--------------</li>
        <li>2--------------</li>
        <ul>
          <li><code>3--------------</code> - </li>
          <li><code>4--------------</code> - </li>
          <li><code>5--------------</code> - </li>
          <li>6--------------</li>
          <li>7-Joaco-no cambia------------</li>
        </ul>
      </ul>
      
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Pagina en construccion...
  </div>
</div>

{% endblock %}
