{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center" style="background-image: url('/images/SmHome.jpg'); ">
  <div class="container" >
    <a href="/" class="lang-logo">
      <img src="/images/Logo.jpg">
    </a>
    <h1>SmartHome 2.0</h1>
    <p>Esta sera una pagina que funsionara como un dashboard de los estados de los diferentes sensores que se instalaran en la casa.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://previews.123rf.com/images/macrovector/macrovector1604/macrovector160403462/55220555-infograf%C3%ADa-de-las-casas-inteligentes-con-las-estad%C3%ADsticas-de-uso-ilustraci%C3%B3n-vectorial-tecnolog%C3%ADas-electr%C3%B3nicas.jpg"><span class="glyphicon glyphicon-flash"></span> Estadisticas</a>
    <a type="button" class="btn btn-lg btn-primary" href="pca.edu.co/wp/"><span class="glyphicon glyphicon-download"></span> Quienes somos!</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Siempre en contacto con tu hogar!
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Habitaciones</h3>
      <ul>
        <li>Habitacion # 1</li>

        <li>Habitacion # 2</li>
        <li>Habitacion # 3</li>
        <li>Habitacion # 4</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Living Room</h3>
      <ul>
        <li>1--------------</li>
        <li>2--------------</li>
        <ul>
          <li><code>3--------------</code> - </li>
          <li><code>4--------------</code> - </li>
          <li><code>5--------------</code> - </li>
          <li>6--------------</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-php">Deploying PHP Apps on Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

{% endblock %}
